@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* .quicksand-<uniquifier> {
    font-family: "Quicksand", serif;   
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  *{
    padding: 0;
    margin: 0;
    outline: 0;
  }
  .device_width{
    width: 85%;
    background-color: rgba(143, 207, 230, 0.119);
    margin: 0 auto;
  }
  /* navbar start */

  nav{
    display: flex;
    justify-content: space-between;
  }
  nav ul li{
    list-style: none;
    margin-right: 50px;
  }
  nav ul li a{
    text-decoration: none;
  }
  .nav_logo{
    font-family: "Quicksand", serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .nav_head ul{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .ho{
    color: rgb(255, 141, 1);
    font-size: 18px;
    font-weight: 600;
    font-family: "Quicksand", serif;

  }
  .ab{
    color: rgb(0, 242, 255);
    font-family: "Quicksand", serif;
    font-size: 18px;
    font-weight: 600;
  }
  .faci{
    color: rgb(126, 28, 217);
    font-family: "Quicksand", serif;
    font-size: 18px;
    font-weight: 600;
  }
  .ad{
    color: rgb(255, 47, 186);
    font-family: "Quicksand", serif;
    font-size: 18px;
    font-weight: 600;
  }

  .nav_btn{
         color: rgb(255, 255, 255);
         background-color: rgb(254, 140, 1);
         border-radius: 6px;
         font-family: "Quicksand", serif;
         font-size: 11px;
         font-weight: 300;
         padding: 9px 40px;
         border: none;
         margin-left: 120px;
 }
 .nav_btn:hover{
  background-color: red;
  color: rgb(255, 255, 255);
  transition: .5s;
 }
 
