@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* .quicksand-<uniquifier> {
    font-family: "Quicksand", serif;   
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Quicksand;
    line-height: 1.5;
  }
  #device_width{
    width: 85%;
    background-color: rgba(255, 255, 255, 0.971);
    margin: 0 auto;
  }
  /* navbar start */

  nav{
    display: flex;
    justify-content: space-between;
  }
  nav ul li{
    list-style: none;
    margin-right: 50px;
  }
  nav ul li a{
    text-decoration: none;
  }
  .nav_logo{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  .nav_head ul{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .ho{
    color: rgb(255, 141, 1);
    font-size: 18px;
    font-weight: 600;
    font-family: "Quicksand", serif;

  }
  .ab{
    color: rgb(0, 242, 255);
  
    font-size: 18px;
    font-weight: 600;
  }
  .faci{
    color: rgb(126, 28, 217);
  
    font-size: 18px;
    font-weight: 600;
  }
  .ad{
    color: rgb(255, 47, 186);
    
    font-size: 18px;
    font-weight: 600;
  }

  .nav_btn{
         color: rgb(255, 255, 255);
         background-color: rgb(254, 140, 1);
         border-radius: 6px;
       
         font-size: 11px;
         font-weight: 300;
         padding: 9px 30px;
         border: none;
         margin-left: 120px;
 }
 .nav_btn:hover, .banner_btn:hover{
  background-color: red;
  color: rgb(255, 255, 255);
  transition: .5s;
 }
 .hambarger{
  display: none;
 }

 /* banner part start  */
.banner_container{
  display: flex;
  justify-content: space-between;
}
.banner_content{
 margin-top: 100px;
 
}
.banner_head{
  font-size: 55px;
  font-weight: bold;
  margin-top: 10px;

}
.first_head{
  color: orange;
  font-size: 57px;
}
.second_head{
  color: blue;
  font-size: 56px;
}
.banner_pra{
  font-size: 15px;
  font-weight: 400;
 
  margin-top: 18px;
}
.banner_btn{
  color: rgb(255, 255, 255);
  background-color: rgb(1, 77, 254);
  border-radius: 6px;
  font-size: 11px;
  font-weight: 300;
  padding: 11px 28px;
  border: none;
  margin-top: 20px;
}
 /* curriculum part start  */
 .banner_item{
  background-image: url("./assets/bg.png");
  width: 100%;
 }
#curriculum_head{
  margin-top: 60px;
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
}
.curriculum_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
}
.curriculum{
  border-radius: 6px;
  margin: 50px 40px;
  padding: 15px 0;
  text-align: center;
}
.kinder{
  font-size: 20px;
  font-weight: 500;
  color: black;
  font-family: "Quicksand", serif;
  text-align: center;
  margin: 20px;
}
.first_pra{
  font-size: 15px;
  font-weight: 500;
  font-family: "Quicksand", serif;
  margin: 22px 0;
}
.curri_first{
  box-sizing: border-box;
  border: 1px solid rgb(222, 245, 255);
  border-radius: 18px;
  box-shadow: inset 0px 0px 28px .9px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  margin-right: 15px;
}
.curri_first:hover{
  background-color: rgba(201, 69, 234, 0.817);
  transition: .3s;
}
.curri_second{
  box-sizing: border-box;
border: 0.94px solid rgb(242, 232, 255);
border-radius: 18px;
box-shadow: inset 0px 0px 28.3px 0.9px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
margin-right: 15px;
}
.curri_second:hover{
  background-color: rgba(228, 129, 62, 0.754);
  transition:  .3s;
}
.curri_third{
  box-sizing: border-box;
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18px;
  box-shadow: inset 0px 0px 28.3px 0.9px rgba(0, 0, 0, 0.05);
  background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.curri_third:hover{
  background-color: aquamarine;
  transition:  .3s;
}
.ancor_first{
  text-decoration: none;
  color: blue;
  font-size: 13px;
  
  margin-right: 20px;
}
.ancor_second{
  text-decoration: none;
  color: rgba(191, 0, 255, 0.984);
  font-size: 13px;
 
  margin-right: 20px;
}
.ancor_third{
  text-decoration: none;
  color: rgb(255, 0, 0);
  font-size: 13px;

}

.btn_arrow{
 text-align: center;
 margin-bottom: 40px;
}
.arrow_btn{
  padding: 12px 13px ;
  border-radius: 50%;
  border: none;
  background-color: orange;
  color: white;
  margin-right: 7px;
}
.arrow_button{
  padding: 12px 13px ;
  border-radius: 50%;
  border: none;
  background-color: orange;
  color: white;
}

/* stories part start */
.stories_container{
  margin: 50px 0;
}
.stories_con{
  display: flex;
  justify-content: space-between;
}
.stories_three{
display: none;
}  
.story_second{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.story_first{
  margin-right: 20px;
}
.stories_one{
  height: 100%;
}

.stories_one img, .stories_two img, .stories_three img{
  border-radius: 15px 15px 0 0;
}
.stories_one p{
  font-size: 13px;
  font-weight: 600;
  text-align: center;
 
  line-height: 20px;
  color: rgba(42, 47, 52, 0.819);
  margin-bottom: 30px;

}
.stories_one, .stories_two, .stories_three{
  border-radius: 15px;
  background-color: rgba(239, 242, 245, 0.906);
}

.stories_one h3{
  font-size: 19px;
  line-height: 22px;
  font-size: 700; 
 
  text-align: center;
  margin: 30px 0;
}
.stories_two h3, .stories_three h3{
  font-size: 15px;
  line-height: 22px;
  font-size: 600; 
  font-family: Quicksand;
  text-align: center;
  margin: 10px 0;
}
.stories_two button, .stories_one button, .stories_three button{
  font-size: 10px;
  font-size: 500; 
 
  /* background-color: rgba(0, 255, 132, 0.945); */
  border-radius: 10px;
  padding: 8px 5px;
  border: none;
  /* color: white; */
  text-align: center;
  font-family: Quicksand;
}
.stories_button_one{
  background-color: rgba(57, 57, 255, 0.958);
  color: whitesmoke;
}
.stories_button_two{
  background-color: rgb(0, 255, 174);
  color: whitesmoke;
}
.stories_button_three{
  background-color: rgb(234, 0, 255);
  color: whitesmoke;
}
.stories_button_four{
  background-color: rgb(0, 255, 229);
  color: whitesmoke;
}
.stories_button_five{
  background-color: rgb(255, 153, 0);
  color: whitesmoke;
}
.stories_two button, .stories_one button, .stories_three button{
  position: absolute;
  top: -14px; 
  right: -30px;
}
.stories_two button, .stories_one button, .stories_three button{
  position: relative;
}
.stories_bg_img{
/*   background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%); */
    background: url(image),linear-gradient(0.00deg, rgba(214, 201, 179, 0.3),rgba(197, 158, 158, 0.164) 100%);
}

/* footer part start  */
.footer_btn{
  background-color: rgb(44, 44, 233);
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  font-family: Quicksand;
  margin: 0 0 60px 500px;
}
.footer_btn:hover{
  background-color: red;
  transition: .4s;
}
 .kinder_head{
 color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 700;
text-align: left;
gap: 0;
}
.kinder_main{ 
  display: flex;
}

.footer{
  background-color: rgba(20, 36, 210, 0.665);
  padding: 100px 0;
}
 .footer_container{
   max-width: 1170px;
  margin:  0 auto; 

} 
.row{
  display: flex;
  justify-content: space-around;
}

.footer_col p{
  color: rgb(255, 255, 255);
font-size: 17px;
font-weight: 400;
}
.footer_col h3{
  color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 700;
margin-bottom: 20px;
}

.footer_head_one{
 margin-top: 13px;
 font-size: 17px;
 text-transform: capitalize;
 color: #ffffff;
 text-decoration: none;
 font-weight: 500;
}
.scrolling{
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 9px;
  color: black;
  font-weight: 700;
}

 /* navbar responsive start */
 @media screen and (max-width: 576px){
  .kinder_garden, .nav_head{
    display: none;
  }

.hambarger{
      display: block;
      margin: 25px;
  }
}

/* banner responsive start  */
@media screen and (max-width: 576px){
  .banner_container{
   flex-direction: column-reverse;
 
  }
  .banner_content{
   text-align: center;
  }
 }
 /* curriculum responsive part  */
@media screen and (max-width: 576px){
  .curriculum_container{
    /* display: grid; */
      grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 576px){
  .curri_first, .curri_second{
    margin-bottom: 15px;
  }
}

/* arrow button responsive part  */
@media screen and (max-width: 576px){
  .btn_arrow{
   display: none;
  }
}

/* stories part responsive */
@media screen and (max-width:576px){
  .stories_one{
    display: none;
  }
    .story_second{
    grid-template-columns: repeat(2, 1fr); 
    /* justify-content: center;  */
    /* width: 100%; */
}
    .stories_three{
display: block;
} 
}
/* footer part responsive  */
@media screen and (max-width:576px){
  .row{
    flex-direction: column;
    margin: 0px 20px;
   text-align: left;
  }
  .footer_col{
    margin-top: 25px;
  }
}
